.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  align-items: flex-start;
  height: 90vh;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 500px;
  align-self: center;
}

.Cell {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  font-size: 40px;
  background-color: white;
}

.Menu {
  width: 30%;
  background-color: antiquewhite;
  height: 100%;
}

.border {
  border-color: black;
  border-style: solid;
}

.button {
  height: 3rem;
  width: auto;
  background-color: blueviolet;
  color: white;
  border-color: thistle;
}
.center {
  align-content: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.grey {
  background-color: whitesmoke;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
