.App {
  text-align: center;
  color: "pink";
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Board {
  width: 550px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.Cell {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  font-size: x-large;
}

.Menu {
  color: orange;
  width: 30%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
